* {
  box-sizing: border-box;
}

/* ========================= */

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(49, 49, 49);
  background-color: rgb(240, 240, 240);
  font-size: 112.5%; /*of 16px --> 18px*/
}

header {
}

/* ========================= */

h1 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

h2 {
  /*   font-size: 1, 2em;*/
  font-weight: 300;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: .5em;
}

h3 {
  /*   font-size: 1, 2em;*/
  font-weight: 300;
  text-align: center;
}

h4 {
  /*   font-size: 1, 2em;*/
  font-weight: 300;
  text-align: center;
}

a {
  color: rgb(49, 49, 49);
}

p {
  font-weight: 300;
}

/* ============ class selectors ============= */

.material-icons {
  /*margin-right: 1em;
  position: relative;
top: .25em;
 */
/*  text-decoration: none; */
}

.tile {
  background-color: white;
  border-radius: 1em;
  padding: .5em;
  box-shadow: 0rem 0rem 1rem lightgray;
}

.pic {
    overflow: hidden;
    padding: 0;
}

.links {
  display: flex;
  align-items: center;
  /* 
  vertical-align: middle; */
}

.spread-horizontaly {
    display: flex;
    justify-content: space-around;

}

.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  
}



.mini-tiles {
  display: flex;
  /* align-items: center;*/
  justify-content: space-around; 
  list-style: none;
  flex-wrap: wrap;
  padding: 0em;
}

.mini-tiles li {
  display: inline;
  color: white;
  background-color: rgb(49, 49, 49);
  border-radius: .5em;
  padding: .5em;
  margin: .25em;

}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  border-radius: 2em;
  overflow: hidden;
}

.container {
  display: grid;
  grid-gap: 2em
  grid-template-columns: 1fr 2fr;
  /*grid-template-rows: repeat(3, 50px);*/
}

.item1 {
  grid-column: 1;
}
